body {
    font-family: Arial;
    background-color: #f4f6f9;
    padding: 40px;
}

h1, h2 {
    color: #2c3e50;
}

a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: #3498db;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}

input {
    margin: 5px 0;
    padding: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

textarea {
    width: 100%;
    height: 80px;
}

